*{
  margin: 0px;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
    justify-content: space-between;
  }
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left{
  flex:0.9; 
  /* This takes 90% of flex screen */
}
.app_stats{
  display: flex;
  justify-content: space-between;
}